<?xml version="1.0" encoding="UTF-8"?>


<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="/home/pongift/marketplace/logs" />

    <!-- Configure Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date %level - %message%n</pattern>
        </encoder>
    </appender>

    <!-- Configure APP LOG -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${LOGS_ABSOLUTE_PATH}/batch.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/marketplace-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>999</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.springframework" level="INFO">-->
        <!--<appender-ref ref="APP"/>-->
    <!--</logger>-->

    <logger name="jdbc" level="OFF"/>

    <!--<logger name="jdbc.sqlonly" level="INFO" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--<logger name="jdbc.resultsettable" level="INFO" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <root level="INFO">
        <appender-ref ref="APP"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
